{% extends 'layout.twig' %}

{% block header %}
    <div class="header-bg bg-{{ random(8) }}">
        <header>
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            {# - Header XS #}
                            <div class="col-xs-12 visible-xs text-center">
                                <h1 class="heading">
                                    <a href="{{ url('frontend_home') }}"><strong>Škoda Felicia</strong></a>
                                </h1>
                                <div id="subtext" class="text-main-light">www.skoda-felicia.eu</div>

                                {% if maintenance is not defined %}
                                    <br /><a class="btn btn-main" href="{{ url('frontend_about_authors') }}#donate"><i class="fa fa-paypal"></i> Jak přispět na provoz?</a>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>

                            {# - Header SM > #}
                            <div class="col-xs-12 hidden-xs">
                                <h1 class="heading">
                                    <a href="{{ url('frontend_home') }}"><strong class="text-large pull-left">Škoda Felicia</strong></a>
                                </h1>
                                <div class="pull-right">
                                    {% if maintenance is not defined %}
                                        <a class="btn btn-main" href="{{ url('frontend_about_authors') }}#donate"><i class="fa fa-paypal"></i> Jak přispět na provoz?</a>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>

                                <div id="subtext" class="text-main-light">www.skoda-felicia.eu</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <nav class="navbar navbar-default">
                <div class="container-wrap">
                    <div class="container">
                        <div class="navbar-header hidden-md hidden-lg">
                            <button type="button" class="btn btn-sm btn-default navbar-btn" data-toggle="collapse" data-target="#top-menu" aria-expanded="false">
                                <i class="fa fa-fw fa-bars"></i> Navigace
                            </button>


                            <a href="#top" class="btn btn-sm btn-default navbar-btn pull-right">
                                <i class="fa fa-fw fa-chevron-up"></i> Nahoru
                            </a>
                        </div>

                        <div id="top-menu" class="navbar-collapse collapse">
                            {% if maintenance is not defined %}
                                {# - Navbar LG #}
                                <ul class="nav navbar-nav">

                                    <li class="totop visible-md visible-lg">
                                        <a href="#top">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>

                                    {% block navigationItems %}
                                        {# - Úvod#}
                                        {# ------------------------------------------------------------------------------------------ #}
                                        <li {% if app.request.attributes.get('_route') starts with 'frontend_home' %}class="active"{% endif %}>
                                            <a href="{{ url('frontend_home') }}">
                                                <i class="fa fa-fw fa-home"></i> Úvod
                                            </a>
                                        </li>

                                        {# - Dílenská příručka #}
                                        {# ------------------------------------------------------------------------------------------ #}
                                        <li {% if app.request.attributes.get('_route') starts with 'frontend_manual' %}class="active"{% endif %}>
                                            <a href="{{ url('frontend_manual') }}">
                                                <i class="fa fa-fw fa-book"></i> Dílenská příručka
                                            </a>
                                        </li>

                                        {# - Ke stažení #}
                                        {# ------------------------------------------------------------------------------------------ #}
                                        <li {% if app.request.attributes.get('_route') starts with 'frontend_download' %}class="active"{% endif %}>
                                            <a href="{{ url('frontend_download') }}">
                                                <i class="fa fa-fw fa-download"></i> Ke stažení
                                            </a>
                                        </li>

                                        <li class="dropdown disabled">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-fw fa-align-left"></i> Články <span class="caret"></span>
                                            </a>
                                            {#<ul class="dropdown-menu">#}
                                            {# - Často kladené otázky #}
                                            {# ------------------------------------------------------------------------------------------ #}
                                            {#<li {% if app.request.attributes.get('_route') starts with 'frontend_faq' %}class="active"{% endif %}>#}
                                            {#<a href="{{ url('frontend_notyet') }}">#}
                                            {#<i class="fa fa-fw fa-question-circle"></i> Časté otázky & odpovědi#}
                                            {#</a>#}
                                            {#</li>#}

                                            {# - Návody #}
                                            {# ------------------------------------------------------------------------------------------ #}
                                            {#<li {% if app.request.attributes.get('_route') starts with 'frontend_guide' %}class="active"{% endif %}>#}
                                            {#<a href="{{ url('frontend_notyet') }}">#}
                                            {#<i class="fa fa-fw fa-wrench"></i> Návody#}
                                            {#</a>#}
                                            {#</li>#}

                                            {# - Technická data #}
                                            {# ------------------------------------------------------------------------------------------ #}
                                            {#<li {% if app.request.attributes.get('_route') starts with 'frontend_guide' %}class="active"{% endif %}>#}
                                            {#<a href="{{ url('frontend_notyet') }}">#}
                                            {#<i class="fa fa-fw fa-info"></i> Technická data#}
                                            {#</a>#}
                                            {#</li>#}

                                            {# - Sportovní úpravy #}
                                            {# ------------------------------------------------------------------------------------------ #}
                                            {#<li {% if app.request.attributes.get('_route') starts with 'frontend_tuning' %}class="active"{% endif %}>#}
                                            {#<a href="{{ url('frontend_notyet') }}">#}
                                            {#<i class="fa fa-fw fa-dashboard"></i> Sportovní úpravy#}
                                            {#</a>#}
                                            {#</li>#}

                                            {#</ul>#}
                                        </li>

                                        <li class="dropdown disabled">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-fw fa-cogs"></i> Nástroje <span class="caret"></span>
                                            </a>
                                            {#<ul class="dropdown-menu">#}
                                            {#- Často kladené otázky#}
                                            {#------------------------------------------------------------------------------------------#}
                                            {#<li {% if app.request.attributes.get('_route') starts with 'frontend_faq' %}class="active"{% endif %}>#}
                                            {#<a href="{{ url('frontend_notyet') }}">#}
                                            {#<i class="fa fa-fw fa-car"></i> Dekodér VIN#}
                                            {#</a>#}
                                            {#</li>#}

                                            {#- Návody#}
                                            {#------------------------------------------------------------------------------------------#}
                                            {#<li {% if app.request.attributes.get('_route') starts with 'frontend_guide' %}class="active"{% endif %}>#}
                                            {#<a href="{{ url('frontend_notyet') }}">#}
                                            {#<i class="fa fa-fw fa-car"></i> Dekodér čísla motoru#}
                                            {#</a>#}
                                            {#</li>#}

                                            {#- Technická data#}
                                            {#------------------------------------------------------------------------------------------#}
                                            {#<li {% if app.request.attributes.get('_route') starts with 'frontend_guide' %}class="active"{% endif %}>#}
                                            {#<a href="{{ url('frontend_notyet') }}">#}
                                            {#<i class="fa fa-fw fa-car"></i> ETKA#}
                                            {#</a>#}
                                            {#</li>#}

                                            {#</ul>#}
                                        </li>
                                    {% endblock %}
                                </ul>

                                <div class="navbar-form navbar-right">
                                    {{ render(controller('AppBundle:Frontend/Search:search', {request: app.request})) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
{% endblock %}


    {% block javascripts %}
        <script src="{{ asset('assets/js/main.js') }}"></script>
    {% endblock %}

    {% block footerLinks %}
        <ul class="list-inline">
            <li><a href="{{ url('frontend_manual') }}">Dílenská příručka</a></li>
            <li><a href="{{ url('frontend_download') }}">Ke stažení</a></li>
            {#<li><a href="{{ url('frontend_notyet') }}">Časté otázky</a></li>#}
            {#<li><a href="{{ url('frontend_notyet') }}">Návody</a></li>#}
            {#<li><a href="{{ url('frontend_notyet') }}">Sportovní úpravy</a></li>#}
            <li><a href="{{ url('frontend_about_authors') }}">Autoři</a></li>
            <li><a href="{{ url('frontend_about_changelog') }}">Changelog</a></li>
            <li><a href="{{ url('frontend_sitemap') }}">Mapa stránek</a></li>
            <li><a href="{{ url('manager_home') }}">Správa obsahu</a></li>
        </ul>
    {% endblock %}