{% extends 'layout.twig' %}

{% block header %}
    <div class="header-bg">
        <header>
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">

                                <h1 class="heading">
                                    <a href="{{ url('frontend_home') }}"><strong class="text-large pull-left">Škoda Felicia</strong></a>
                                </h1>
                                <div class="pull-right">
                                    {% if maintenance is not defined %}
                                        <a class="btn btn-main" href="{{ url('frontend_about_authors') }}#donate"><i class="fa fa-paypal"></i> Jak přispět na provoz?</a>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>

                                <div id="subtext" class="text-main-light hidden-xs">www.skoda-felicia.eu</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                    </div>

                    <div id="top-menu">
                        {% if maintenance is not defined %}
                            {# - Navbar XS - MD #}
                            <ul class="nav navbar-nav hidden-lg">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bars"></i> Navigace
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu main-nav-small">
                                        <li>
                                            <a href="{{ url('frontend_manual') }}"><i class="fa fa-book"></i> Dílenská příručka</a>
                                        </li>

                                        <li>
                                            <a href="{{ url('frontend_faq') }}"><i class="fa fa-question-circle"></i> Časté otázky</a>
                                        </li>

                                        <li>
                                            <a href="{{ url('frontend_guide') }}"><i class="fa fa-wrench"></i> Návody</a>
                                        </li>

                                        <li>
                                            <a href="{{ url('frontend_tuning') }}"><i class="fa fa-dashboard"></i> Sportovní úpravy</a>
                                        </li>

                                        <li>
                                            <a href="{{ url('frontend_download') }}"><i class="fa fa-download"></i> Ke stažení</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            {# - Navbar XS, LG #}
                            <ul class="nav navbar-nav visible-lg">
                                {# - Dílenská příručka #}
                                {# ------------------------------------------------------------------------------------------ #}
                                <li {% if app.request.attributes.get('_route') starts with 'frontend_manual' %}class="active"{% endif %}>
                                    <a href="{{ url('frontend_manual') }}">
                                        <i class="fa fa-book"></i> Dílenská příručka
                                    </a>
                                </li>

                                {# - Často kladené otázky #}
                                {# ------------------------------------------------------------------------------------------ #}
                                <li {% if app.request.attributes.get('_route') starts with 'frontend_faq' %}class="active"{% endif %}>
                                    <a href="{{ url('frontend_faq') }}">
                                        <i class="fa fa-question-circle"></i> Časté otázky
                                    </a>
                                </li>

                                {# - Návody #}
                                {# ------------------------------------------------------------------------------------------ #}
                                <li {% if app.request.attributes.get('_route') starts with 'frontend_guide' %}class="active"{% endif %}>
                                    <a href="{{ url('frontend_guide') }}">
                                        <i class="fa fa-wrench"></i> Návody
                                    </a>
                                </li>

                                {# - Sportovní úpravy #}
                                {# ------------------------------------------------------------------------------------------ #}
                                <li {% if app.request.attributes.get('_route') starts with 'frontend_tuning' %}class="active"{% endif %}>
                                    <a href="{{ url('frontend_tuning') }}">
                                        <i class="fa fa-dashboard"></i> Sportovní úpravy
                                    </a>
                                </li>

                                {# - Ke stažení #}
                                {# ------------------------------------------------------------------------------------------ #}
                                <li {% if app.request.attributes.get('_route') starts with 'frontend_download' %}class="active"{% endif %}>
                                    <a href="{{ url('frontend_download') }}">
                                        <i class="fa fa-download"></i> Ke stažení
                                    </a>
                                </li>
                            </ul>

                            {{ render(controller('AppBundle:Frontend/Search:search', {request: app.request})) }}
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
    </div>
{% endblock %}


    {% block javascripts %}
        <script src="{{ asset('assets/js/main.js') }}"></script>
    {% endblock %}

    {% block footerLinks %}
        <ul class="list-inline">
            <li><a href="{{ url('frontend_manual') }}">Dílenská příručka</a></li>
            <li><a href="{{ url('frontend_faq') }}">Časté otázky</a></li>
            <li><a href="{{ url('frontend_guide') }}">Návody</a></li>
            <li><a href="{{ url('frontend_tuning') }}">Sportovní úpravy</a></li>
            <li><a href="{{ url('frontend_download') }}">Ke stažení</a></li>
            <li><a href="{{ url('frontend_about_authors') }}">Autoři</a></li>
            <li><a href="{{ url('frontend_about_changelog') }}">Changelog</a></li>
            <li><a href="{{ url('manager_home') }}">Správa obsahu</a></li>
        </ul>
    {% endblock %}