{% extends 'layout_front.twig' %}
{% block title %}Výsledky hledání{% endblock %}
{% block body %}

    <div class="container" id="search-result">

        {% if form.errors is not empty %}
            <div class="alert alert-danger has-error">
                <i class="fa fa-fw fa-exclamation-triangle"></i> Antispamová ochrana: Formulář byl odeslán příliš rychle
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Výsledky
                    <span>vyhledávání</span>
                    <small>Hledaný výraz: "{{ query }}"</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">
                            Dílenská příručka
                            {% set count = results|length %}
                            {% transchoice count %}
                            {0} (Žádné výsledky)|{1} (Jeden výsledek)|[2,3] (%count% výsledky)|[4,Inf[ (%count% výsledků)
                            {% endtranschoice %}
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for page in results %}
                        <tr data-id="{{ page[0].getId() }}">
                            <td>
                                <a href="{{ url('frontend_manual_show', {'slug': page[0].getSlug()}) }}">{{ page[0].getTitle() }}</a>
                            </td>
                            <td>
                                {% for engine in page[0].getEngines() %}
                                    <span class="label label-main">{{ engine.getName() }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}