{% extends 'layout_front.twig' %}
{% block title %}Články{% endblock %}
{% block body %}

    <div class="container" id="manual-list">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ url('frontend_home') }}">Škoda Felicia</a></li>
                    <li class="active">Články</li>
                </ol>
            </div>

            <div class="col-xs-12">
                <h2 class="page-header">
                    {{ category.getTitle() }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ knp_pagination_sortable(articles, 'Titulek', 'm.title') }}
                            {% if articles.isSorted('m.title') %}
                                {% if articles.getDirection() == "desc" %}
                                    <i class="fa fa-fw fa-chevron-down"></i>
                                {% elseif articles.getDirection() == "asc" %}
                                    <i class="fa fa-fw fa-chevron-up"></i>
                                {% endif %}
                            {% endif %}
                        </th>
                        <th>Motorizace</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% if articles|length == 0 %}
                        <tr>
                            <td colspan="2" class="text-muted text-center">V této kategorii nejsou zatím žádné stránky.</td>
                        </tr>
                    {% endif %}

                    {# @var page \AppBundle\Entity\Manual\Manual #}
                    {% for article in articles %}
                        <tr data-id="{{ article.getId() }}">
                            <td>
                                <a href="{{ url('frontend_manual_show', {'slug': article.getSlug()}) }}">{{ article.getTitle() }}</a>
                            </td>
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(articles) }}

            </div>
        </div>
    </div>

{% endblock %}