{% extends 'layout_front.html.twig' %}
{% block title %}{{ currentCategory.getTitle() }} - Články{% endblock %}
{% block description %}Kategorie článků {{ currentCategory.getTitle() }}.{% endblock %}

{% block body %}

    <div class="container" id="article-category-list">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ url('frontend_home') }}">Škoda Felicia</a></li>
                    <li><a href="{{ url('frontend_article_home') }}">Články</a></li>
                    <li class="active">{{ currentCategory.getTitle() }}</li>
                </ol>
            </div>

            <div class="col-xs-12">
                <h2 class="page-header">
                    Kategorie
                    <span>
                            <i class="fa fa-{{ currentCategory.getIcon() }} hidden-xs"></i> {{ currentCategory.getTitle() }}
                        </span>

                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if articles|length == 0 %}
                    <h3 class="text-muted text-center">V této kategorii zatím nejsou žádné soubory.</h3>
                {% endif %}

                {# @var download \AppBundle\Entity\Download\Download #}
                {% for article in articles %}
                    <article class="">
                        <div class="media">
                            <div class="media-left lightgallery">
                                <img class="media-object article-image" src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('default_thumb') }}" alt="{{ article.getTitle() }}" />
                            </div>
                            <div class="media-body">
                                <a href="{{ url('frontend_article_detail', {'category': article.getCategory().getSlug(), 'article': article.getSlug()}) }}">
                                    <h3 class="media-heading">{{ article.getTitle() }}</h3>
                                </a>
                                <hr />

                                <p>
                                    {{ article.getPerex()|truncate(250) }}
                                    <a href="{{ url('frontend_article_detail', {'category': article.getCategory().getSlug(), 'article': article.getSlug()}) }}">celý článek</a>
                                </p>


                                <div class="label label-main"><i class="fa fa-calendar"></i> {% if article.getUpdatedAt() is not null %}{{ article.getUpdatedAt().format('d.m.Y H:i') }}{% else %}{{ article.getCreatedAt().format('d.m.Y H:i') }}{% endif %}</div>
                                <div class="label label-default"><i class="fa fa-user"></i> Raito & Lukáš Hošek</div>
                            </div>
                        </div>

                    </article>
                {% endfor %}

                {{ knp_pagination_render(articles) }}
            </div>
        </div>
    </div>

{% endblock %}