{% extends 'layout_front.twig' %}
{% block title %}{{ article.getTitle() }} - {{ article.getCategory().getTitle() }}{% endblock %}
{% block type %}article{% endblock %}
{% block description %}{{ article.getPerex()|truncate(300) }}{% endblock %}
{% block ogTags %}
    {#<meta property="article:author" content="{{ article.getAuthor() }}" />#}
    <meta property="article:section" content="{{ article.getCategory().getTitle() }}" />
    <meta property="article:published_time" content="{{ article.getCreatedAt().format('Y-m-d H:i:s') }}" />
    {% if article.getUpdatedAt() is not null %}
        <meta property="article:modified_time" content="{{ article.getUpdatedAt().format('Y-m-d H:i:s') }}" />
    {% endif %}
{% endblock %}
{% block image %}{{ absolute_url(vich_uploader_asset(article, 'imageFile')|imagine_filter('large_preview')) }}{% endblock %}

{% block body %}

    <div class="container" id="article-detail">
        <div class="row">
            {# Breadcrumbs #}
            {# ------------------------------------------------------------------------------------------------------ #}
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ url('frontend_home') }}">Škoda Felicia</a></li>
                    <li><a href="{{ url('frontend_article_category_home') }}">Články</a></li>
                    <li><a href="{{ url('frontend_article_category_list', {'category': article.getCategory().getSlug() }) }}">{{ article.getCategory().getTitle() }}</a></li>
                    <li class="active">{{ article.getTitle() }}</li>
                </ol>
            </div>
            {# / Breadcrumbs #}
            {# ------------------------------------------------------------------------------------------------------ #}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header article-title">
                    {{ article.getTitle() }}
                </h2>
                <div class="metadata">
                    <div class="btn btn-main btn-sm"><i class="fa fa-fw fa-{{ article.getCategory().getIcon() }}"></i> {{ article.getCategory().getTitle() }}</div>
                    <div class="btn btn-default btn-sm"><i class="fa fa-fw fa-calendar"></i> {% if article.getUpdatedAt() is not null %}{{ article.getUpdatedAt().format('d.m.Y H:i') }}{% else %}{{ article.getCreatedAt().format('d.m.Y H:i') }}{% endif %}</div>
                    <div class="btn btn-default btn-sm"><i class="fa fa-fw fa-user"></i> {{ article.getAuthor() }}</div>

                    <div class="pull-right">
                        <a href="{{ url('frontend_article_report', {'article': article.getSlug()}) }}" class="btn btn-sm btn-default"><i class="fa fa-fw fa-flag"></i> Nahlásit chybu</a>
                    </div>
                </div>

                <div class="article-perex">
                    <p><strong>{{ article.getPerex() }}</strong></p>
                </div>
                <hr />
                <div class="article-content table-responsive">
                    {{ include(template_from_string(article.getContent() | raw)) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}