{% extends 'layout_front.twig' %}
{% block title %}Home{% endblock %}
{% block body %}

    <div class="container" id="home-index">


        {# Navigation #}
        {# ---------------------------------------------------------------------------------------------------------- #}
        <section class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Rozcestník
                </h2>
            </div>
        </section>
        <div class="row row-flex row-flex-wrap navbox">
            <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                <a href="{{ url('frontend_manual') }}" class="btn btn-default">
                    <i class="fa fa-fw fa-book text-muted"></i> Dílenská příručka
                    <hr/>
                    <small class="text-muted">Přepis oficiálních postupů pro kontrolu, seřízení a opravu vozu
                    </small>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                <a href="{{ url('frontend_faq') }}" class="btn btn-default">
                    <i class="fa fa-fw fa-question-circle text-muted"></i> Časté otázky
                    <hr/>
                    <small class="text-muted">Odpovědi na velmi časté otázky posbírané především z Facebooku
                    </small>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                <a href="{{ url('frontend_guide') }}" class="btn btn-default">
                    <i class="fa fa-fw fa-wrench text-muted"></i> Návody
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                <a href="{{ url('frontend_tuning') }}" class="btn btn-default">
                    <i class="fa fa-fw fa-dashboard text-muted"></i> Sportovní úpravy
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                <a href="{{ url('frontend_download') }}" class="btn btn-default">
                    <i class="fa fa-fw fa-download text-muted"></i> Ke stažení
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                <a href="{{ url('frontend_about_changelog') }}" class="btn btn-default">
                    <i class="fa fa-fw fa-list text-muted"></i> Changelog
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                <a href="{{ url('frontend_about_authors') }}" class="btn btn-default">
                    <i class="fa fa-fw fa-user text-muted"></i> Autoři
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 flex-col"></div>

        </div>
        {# //Navigation #}
        {# ---------------------------------------------------------------------------------------------------------- #}


        <section class="row">
            {# Latest version #}
            {# ---------------------------------------------------------------------------------------------------------- #}
            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">
                    Aktuální verze
                </h2>
                <div class="panel panel-main">
                    <div class="panel-heading">{{ version }}
                        <span class="pull-right">{{ latest['released']|date('d.m.Y') }}</span></div>
                    <div class="panel-body">
                        <ul>
                            {% for change in latest['changes'] %}
                                <li>{{ change }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <a href="{{ url('frontend_about_changelog') }}">Zobrazit changelog</a>
            </div>
            {# //Latest version #}
            {# ---------------------------------------------------------------------------------------------------------- #}


            {# Database #}
            {# ---------------------------------------------------------------------------------------------------------- #}
            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">
                    Databáze
                </h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Počet</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Stránek dílenské příručky</td>
                        <td>{{ dbstats['manuals'] }}</td>
                    </tr>
                    <tr>
                        <td>Otázek a odpovědí</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Počet návodů</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Stránek sportovních úprav</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Souborů ke stažení</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {# //Database #}
            {# ---------------------------------------------------------------------------------------------------------- #}
        </section>
    </div>
{% endblock %}