{% extends 'layout_front.twig' %}
{% block title %}Home{% endblock %}
{% block body %}

    <div class="container" id="home-index">


        {# Navigation #}
        {# ---------------------------------------------------------------------------------------------------------- #}
        <section class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Navigace
                </h2>
            </div>
        </section>
        <section class="row">
            <div class="navbox col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <a href="{{ url('frontend_manual') }}" class="btn btn-main">
                    <div class="text-center">
                        <i class="fa fa-fw fa-5x fa-book"></i>

                        <h3>Dílenská příručka</h3>
                    </div>
                </a>
            </div>
            <div class="navbox col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <a href="{{ url('frontend_faq') }}" class="btn btn-main">
                    <div class="text-center">
                        <i class="fa fa-fw fa-5x fa-question-circle"></i>

                        <h3>Časté otázky</h3>
                    </div>
                </a>
            </div>
            <div class="navbox col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <a href="{{ url('frontend_guide') }}" class="btn btn-main">
                    <div class="text-center">
                        <i class="fa fa-fw fa-5x fa-wrench"></i>

                        <h3>Návody</h3>
                    </div>
                </a>
            </div>
            <div class="navbox col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <a href="{{ url('frontend_tuning') }}" class="btn btn-main">
                    <div class="text-center">
                        <i class="fa fa-fw fa-5x fa-dashboard"></i>

                        <h3>Sportovní úpravy</h3>
                    </div>
                </a>
            </div>
            <div class="navbox col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <a href="{{ url('frontend_download') }}" class="btn btn-main">
                    <div class="text-center">
                        <i class="fa fa-fw fa-5x fa-download"></i>

                        <h3>Ke stažení</h3>
                    </div>
                </a>
            </div>
            <div class="navbox col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <a href="" class="btn btn-main">
                    <div class="text-center">
                        <i class="fa fa-fw fa-5x fa-user"></i>

                        <h3>Autoři</h3>
                    </div>
                </a>
            </div>
        </section>
        {# //Navigation #}
        {# ---------------------------------------------------------------------------------------------------------- #}


        <section class="row">
            {# Latest version #}
            {# ---------------------------------------------------------------------------------------------------------- #}
            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">
                    Aktuální verze
                </h2>
                <div class="panel panel-main">
                    <div class="panel-heading">{{ version }}
                        <span class="pull-right">{{ latest['released']|date('d.m.Y') }}</span></div>
                    <div class="panel-body">
                        <ul>
                            {% for change in latest['changes'] %}
                                <li>{{ change }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <a href="{{ url('frontend_about_changelog') }}">Zobrazit changelog</a>
            </div>
            {# //Latest version #}
            {# ---------------------------------------------------------------------------------------------------------- #}


            {# Database #}
            {# ---------------------------------------------------------------------------------------------------------- #}
            <div class="col-xs-12 col-sm-6">
                <h2 class="page-header">
                    Databáze
                </h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Počet</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Stránek dílenské příručky</td>
                        <td>{{ dbstats['manuals'] }}</td>
                    </tr>
                    <tr>
                        <td>Otázek a odpovědí</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Počet návodů</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Stránek sportovních úprav</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Souborů ke stažení</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {# //Database #}
            {# ---------------------------------------------------------------------------------------------------------- #}
        </section>
    </div>
{% endblock %}