{% extends 'layout_front.twig' %}
{% block title %}O autorech{% endblock %}
{% block body %}

    <section class="container" id="about-authors">
        {# Authors #}
        {# ---------------------------------------------------------------------------------------------------------- #}
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Autoři
                </h2>
            </div>
        </div>

        <article class="panel panel-default author">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-2">
                    <img src="{{ asset('images/authors/raito.jpg') }}" class="img-responsive img-circle" alt="Raito" />
                </div>
                <div class="col-xs-12 col-sm-10">
                    <h2>Raito</h2>
                    <p>Vývojář celé této srandy, autor grafického návrhu, přepisovač a formátovač dílenské příručky, majitel asi 50ti aut včetně několika Felicií.</p>

                    <a href="#zprava"><i class="fa fa-fw fa-envelope"></i> Kontakty</a>
                </div>
            </div>
        </article>

        <article class="panel panel-default author">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-10 text-right">
                    <h2>Ája</h2>
                    <p>Autorka přepsaných materiálů z publikace Dílenská příručka - Hledání závad.</p>

                    <a href="https://www.facebook.com/ajakrejzu"><i class="fa fa-fw fa-facebook-square"></i> Facebook</a>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <img src="{{ asset('images/authors/aja.jpg') }}" class="img-responsive img-circle" alt="Raito" />
                </div>
            </div>
        </article>

        <article class="panel panel-default author">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-2">
                    <img src="{{ asset('images/authors/david.jpg') }}" class="img-responsive img-circle" alt="Raito" />
                </div>
                <div class="col-xs-12 col-sm-10">
                    <h2>Dávid Kiss</h2>
                    <p>Autor přepsaných materiálů z publikace Dílenská příručka - Převodovka</p>

                    <a href="https://www.facebook.com/kiss.david123"><i class="fa fa-fw fa-facebook-square"></i> Facebook</a>
                </div>
            </div>
        </article>

        <article class="panel panel-default author">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-10 text-right">
                    <h2>Vlaďka Keslová</h2>
                    <p>Autorka přepsaných materiálů z publikace Dílenská příručka - Motor 1.3.</p>

                    <a href="https://www.facebook.com/vladimira.keslova"><i class="fa fa-fw fa-facebook-square"></i> Facebook</a>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <img src="{{ asset('images/authors/vladka.jpg') }}" class="img-responsive img-circle" alt="Raito" />
                </div>
            </div>
        </article>
        {# //Authors #}
        {# ---------------------------------------------------------------------------------------------------------- #}

        {# About project #}
        {# ---------------------------------------------------------------------------------------------------------- #}
        <article class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    O projektu
                </h2>

                <h3 class="no-margin">Proč tento web vznikl?</h3>
                <p>Kvalitní materiály pro servis Felicie se bohužel až doposud nacházely různě po celém webu zcela nekonzistentně,
                    některé se časem staly nepoužitelné, spousta z nich byla i ve špatné digitální podobě. Hlavní motivací byla digitalizace dílenské
                    příručky, která se dochovala pouze v PDF - tzn. bez vyhledvání, možností kloudně kopírovat
                    text, navíc neprakticky jako několik objemných PDF souborů.</p>
                <p>Postupem času se na tento web připojilí i několik dalších funkčních obsahových částí. Jednou z nich
                    je například odpověď na jednoduché, přesto neustále kladené otázky majitelů tohoto stále hojně
                    rozšířeného vozu. Je dost možné, že za několik dalších let už tyto návody a postupy budou sloužit
                    leda vášnivým majitelům posledních několika málo kousků.</p>

                <h3>Technická data webu</h3>
                <ul>
                    <li>Celá aplikace je napsaná ve frameworku Symfony 3 na PHP 7</li>
                    <li>Použitá je celá řada knihoven:

                        <ul>
                            <li>Doctrine 2 ORM + GEDMO ext.</li>
                            <li>Google reCAPTCHA</li>
                            <li>Font Awesome 4</li>
                            <li>jQuery 3</li>
                            <li>lightgallery</li>
                            <li>Bootstrap 3</li>
                            <li>a spousty dalších...</li>
                        </ul>
                    </li>
                    <li>Šablony jsou pasné v Twigu a plně HTML5 + CSS3</li>
                    <li>Celá aplikace, vyjma knihoven, je dílem autora, nebylo použito žádné existující CMS řešení</li>
                </ul>

                <p>Tento web samozřejmě používá cookies. EU od roku 2011 vyžaduje, abych uživatele těchto stránek
                    otravoval jakýmsi přiblblým varováním a nesmysly, což odmítám. Pokud cookies (zcela neškodné textové soubory
                    vytvářené za účelem sledování nášvtěvnosti a vašich preferencí, kterých už teď ve vašem zařízení
                    máte tak milion) z této stránky nechcete, tak si je zablokujte ve vašem prohlížeči.
                    <a href="https://www.zdrojak.cz/clanky/budete-dodrzovat-susenkovy-zakon-je-vubec-mozne/">Více informací</a>.
                </p>

                <h3>Z čeho je placený server hosting a doména?</h3>
                <p>Veškeré výdaje na provoz tohoto webu platím jako autor sám. Pokud ti někdy nějaká část tohoto webu
                    pomohla nebo ušetřila čas tak mi můžeš přispět na chod webu tlačítkem Donate, viz. následující
                    odstavec. Časem je plánováno i přidání Síně slávy, která bude sloužit jako jmenovité poděkování
                    všem kdož přispěli, ať už finančně nebo obsahově. Jen orientačně, roční provoz stránek stojí cca
                    1 300,-. Do toho není započítán čas práce. Jelikož jsem silným odpůrcem reklamy, není na tomto webu
                    žádná umístěna a krom vašich příspěvků mi tato stránka negeneruje žádný příjem.</p>

                <h3 id="donate">Příspěvek na chod webu</h3>
                <p>Pro zaslání libovolného finančního obnosu jakožto poděkování/podporu můžete použít bezpečnou platební bránu PayPal pomocí tohoto tlačítka:</p>

                <div class="text-center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="8ZEMVSAB84XRA">
                        <input type="image" id="paypal-button" src="{{ asset('images/donate.jpg') }}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>

                <p>Veškeré příspěvky jsou využity na další rozšiřování funkcinality a chod stránek.</p>

                <p>Pokud z nějakého důvodu nedůvěřujete platbám přes internet můžete použít přímé bankovní spojení a poslat příspěvek na:</p>
                <p>Číslo účtu: <strong>1464562022 / 3030</strong> (AirBank)
                    <br />
                    VS: <strong>131619</strong>
                </p>
                <p>a do poznámky pro příjemce tvoje jméno nebo email, pokud chceš být uveřejněn v plánované Síni slávy.
                </p>
            </div>
        </article>
        {# //About project #}
        {# ---------------------------------------------------------------------------------------------------------- #}


        {# Message #}
        {# ---------------------------------------------------------------------------------------------------------- #}

        <div class="row" id="zprava">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Kontakt na správce
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-fw fa-envelope"></i>&nbsp;
                        <a href="mailto:info@skoda-felicia.eu">info@skoda-felicia.eu</a>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-facebook-official"></i>&nbsp;
                        <a href="https://www.facebook.com/Akehanareru">Facebook</a>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-car"></i>&nbsp;
                        <a href="https://www.drivetribe.com/t/FxOaFrdeQwO13l_6wIl-kg/">Drivetribe</a>
                    </li>
                </ul>
            </div>
        </div>

        {# //Message #}
        {# ---------------------------------------------------------------------------------------------------------- #}
    </section>

{% endblock %}