{% extends 'layout_manager.html.twig' %}
{% block title %}Správa obsahu{% endblock %}
{% block body %}

    <div class="container" id="manager-home">
        <div class="col-xs-12">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-flag"></i> Nových reportů k DP</span>
                    <div class="count">{{ manual['unresolvedReports'] }}</div>
                    <span class="count_bottom"><i class="green">{{ manual['allReports'] }} </i> Celkem</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-flag"></i> Nových reportů k článkům</span>
                    <div class="count">{{ article['unresolvedReports'] }}</div>
                    <span class="count_bottom"><i class="green">{{ article['allReports'] }} </i> Celkem</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-download"></i> Celkem staženo souborů</span>
                    <div class="count green">{{ download['downloadsMade'] }}</div>
                    <span class="count_bottom">&nbsp;</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Stránek DP</span>
                    <div class="count">{{ manual['count'] }}</div>
                    <span class="count_bottom">&nbsp;</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Souborů ke stažení</span>
                    <div class="count">{{ download['count'] }}</div>
                    <span class="count_bottom">&nbsp;</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Článků</span>
                    <div class="count">{{ article['count'] }}</div>
                    <span class="count_bottom">&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row row-flex row-flex-wrap">
                <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                    <h3>
                        <i class="fa fa-fw fa-book"></i> Dílenská příručka
                    </h3>
                    <div class="list-group">
                        <a href="{{ url('manager_manual_list') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Seznam stránek
                        </a>
                        <a href="{{ url('manager_manual_category_list') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Seznam kategorií
                        </a>
                        <a href="{{ url('manager_manual_create') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Vytvořit novou stránku
                        </a>
                        <a href="{{ url('manager_manual_reports') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Reporty
                            <span class="badge">{{ manual['unresolvedReports'] }}</span>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                    <h3>
                        <i class="fa fa-fw fa-download"></i> Ke stažení
                    </h3>
                    <div class="list-group">
                        <a href="{{ url('manager_download_list') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Seznam souborů
                        </a>
                        <a href="{{ url('manager_download_category_list') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Seznam kategorií
                        </a>
                        <a href="{{ url('manager_download_create') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Přidat soubor
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 flex-col">
                    <h3>
                        <i class="fa fa-fw fa-align-left"></i> Články
                    </h3>
                    <div class="list-group">
                        <a href="{{ url('manager_article_list') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Seznam článků
                        </a>
                        <a href="{{ url('manager_article_category_list') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Seznam kategorií
                        </a>
                        <a href="{{ url('manager_article_create') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Přidat článek
                        </a>
                        <a href="{{ url('manager_article_reports') }}" class="list-group-item">
                            <i class="fa fa-fw fa-chevron-circle-right"></i> Reporty
                            <span class="badge">{{ article['unresolvedReports'] }}</span>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 flex-col"></div>
            </div>
        </div>
    </div>

{% endblock %}