{% extends 'layout_manager.html.twig' %}
{% block title %}Upravit stránku příručky{% endblock %}
{% block body %}

    <div class="container" id="manager-manual-edit">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="col-xs-12">
            <h1>
                Upravit stránku
                <div class="pull-right">
                    <button type="submit" class="btn btn-success pull-right">
                        <i class="fa fa-save"></i> Uložit stránku
                    </button>
                </div>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('manager_home') }}">Manažer</a></li>
                <li><a href="{{ url('manager_manual_list') }}">Dílenská příručka</a></li>
                <li class="active">Upravit stránku</li>
            </ol>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Informace</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content cm-small">
                    {{ form_row(form.title) }}
                    {{ form_row(form.category) }}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nastavení</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content cm-small">
                    {{ form_row(form.engines) }}
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="x_panel">

                <div class="x_title">
                    <h2>Obsah (HTML)</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    {{ form_widget(form.content) }}
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}