{% extends 'layout_manager.twig' %}
{% block title %}Správa obsahu - Dílenská příručka{% endblock %}
{% block body %}

    <div class="container" id="manager-home">
        <h3>Úprava kategorie dílenské příručky
            <div class="pull-right">
                <a href="{{ url('manager_download_category_list') }}" class="btn btn-sm btn-default"><i class="fa fa-list"></i>
                    Zpět na seznam</a>
            </div>
        </h3>

        <ol class="breadcrumb">
            <li><a href="{{ url('manager_home') }}">Manažer</a></li>
            <li><a href="{{ url('manager_download_list') }}">Soubory ke stažení</a></li>
            <li><a href="{{ url('manager_download_category_list') }}">Kategorie</a></li>
            <li class="active">Úprava ktegorie</li>
        </ol>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-default pull-right"><i class="fa fa-save"></i> Uložit změny
        </button>
        {{ form_end(form) }}
    </div>

{% endblock %}