{% extends 'layout_manager.twig' %}
{% block title %}Správa obsahu - Soubory ke stažení{% endblock %}
{% block body %}

    <div class="container" id="manager-home">
        <h3>
            Soubory ke stažení (celkem: {{ downloads.getTotalItemCount }})
            <div class="pull-right">
                <a href="{{ url('manager_download_create') }}" class="btn btn-sm btn-success">
                    <i class="fa fa-plus"></i> Přidat
                </a>
                <a href="{{ url('manager_download_category_list') }}" class="btn btn-sm btn-default">
                    <i class="fa fa-list"></i> Kategorie
                </a>
            </div>
        </h3>

        <ol class="breadcrumb">
            <li><a href="{{ url('manager_home') }}">Manažer</a></li>
            <li><a href="{{ url('manager_download_list') }}">Soubory ke stažení</a></li>
            <li class="active">Seznam stránek</li>
        </ol>

        <table class="table">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(downloads, 'Titulek', 'd.title') }}
                    {% if downloads.isSorted('d.title') %}
                        {% if downloads.getDirection() == "desc" %}
                            <i class="fa fa-fw fa-chevron-down"></i>
                        {% elseif downloads.getDirection() == "asc" %}
                            <i class="fa fa-fw fa-chevron-up"></i>
                        {% endif %}
                    {% endif %}
                </th>
                <th>Kategorie</th>
                <th class="text-right">
                    Akce
                </th>
            </tr>
            </thead>
            <tbody class="sortable">
            {# @var page \AppBundle\Entity\Download\Download #}
            {% for download in downloads %}
                <tr data-id="{{ download.getId() }}">
                    <td>{{ download.getTitle() }}</td>
                    <td>
                        <span class="label label-main"><i class="fa fa-fw fa-{{ download.getCategory().getIcon() }}"></i> {{ download.getCategory().getTitle() }}</span>
                    </td>
                    <td>
                        <div class="pull-right">
                            <a href="{{ url('frontend_download', {'slug': download.getSlug()}) }}"
                               class="btn btn-default btn-xs"><i
                                        class="fa fa-fw fa-search"></i></a>
                            <a href="{{ url('manager_download_edit', {'id': download.getId()}) }}"
                               class="btn btn-default btn-xs"><i
                                        class="fa fa-fw fa-pencil"></i></a>
                            <a href="{{ url('manager_download_delete', {'id': download.getId()}) }}"
                               class="btn btn-danger btn-xs"><i
                                        class="fa fa-fw fa-trash"></i></a> &nbsp;&nbsp;

                            <a href="{{ url('manager_download_move', {'id': download.getId(), 'direction': 'up'}) }}"><i
                                        class="fa fa-fw fa-chevron-circle-down"></i></a>
                            <a href="{{ url('manager_download_move', {'id': download.getId(), 'direction': 'down'}) }}"><i
                                        class="fa fa-fw fa-chevron-circle-up"></i></a>
                            <i class="fa fa-fw fa-bars text-muted dragger"></i>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(downloads) }}
    </div>

{% endblock %}