{% extends 'layout_manager.twig' %}
{% block title %}Správa obsahu - Dílenská příručka{% endblock %}
{% block body %}

    <div class="container" id="manager-home">
        <h3>
            Kategorie dílenské příručky
            <div class="pull-right">
                <a href="{{ url('manager_manual_category_create') }}" class="btn btn-sm btn-success">
                    <i class="fa fa-plus"></i> Přidat
                </a>
                <a href="{{ url('manager_manual_list') }}" class="btn btn-sm btn-default">
                    <i class="fa fa-list"></i> Seznam stránek
                </a>
            </div>
        </h3>

        <ol class="breadcrumb">
            <li><a href="{{ url('manager_home') }}">Manažer</a></li>
            <li><a href="{{ url('manager_manual_list') }}">Dílenská příručka</a></li>
            <li class="active">Seznam kategorií</li>
        </ol>

        <table class="table">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(categories, 'Název', 'mc.title') }}
                    {% if categories.isSorted('m.title') %}
                        {% if categories.getDirection() == "desc" %}
                            <i class="fa fa-fw fa-chevron-down"></i>
                        {% elseif categories.getDirection() == "asc" %}
                            <i class="fa fa-fw fa-chevron-up"></i>
                        {% endif %}
                    {% endif %}
                </th>
                <th>Počet stránek</th>
                <th class="text-right">
                    Akce
                </th>
            </tr>
            </thead>
            <tbody class="sortable">
            {# @var category \AppBundle\Entity\Manual\ManualCategory #}
            {% for category in categories %}
                <tr data-id="{{ category.getId() }}">
                    <td>{{ category.getTitle() }}</td>
                    <td>
                        <span class="badge">{{ category.getManuals()|length }}</span>
                    </td>
                    <td>
                        <div class="pull-right">

                            <a href="{{ url('manager_manual_category_edit', {'id': category.getId()}) }}"
                               class="btn btn-default btn-xs"><i
                                        class="fa fa-fw fa-pencil"></i></a>
                            <a href="{{ url('manager_manual_category_delete', {'id': category.getId()}) }}"
                               class="btn btn-danger btn-xs"><i
                                        class="fa fa-fw fa-trash"></i></a> &nbsp;&nbsp;

                            <a href="{{ url('manager_manual_category_move', {'id': category.getId(), 'direction': 'up'}) }}"><i
                                        class="fa fa-fw fa-chevron-circle-down"></i></a>
                            <a href="{{ url('manager_manual_category_move', {'id': category.getId(), 'direction': 'down'}) }}"><i
                                        class="fa fa-fw fa-chevron-circle-up"></i></a>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(categories) }}
    </div>

{% endblock %}