{% extends 'layout_manager.twig' %}
{% block title %}Správa obsahu - Dílenská příručka{% endblock %}
{% block body %}

    <div class="container" id="manager-home">
        <h3>
            Data pro migrace obsahu
        </h3>

        <ol class="breadcrumb">
            <li><a href="{{ url('manager_home') }}">Manažer</a></li>
            <li><a href="{{ url('manager_manual_list') }}">Dílenská příručka</a></li>
            <li class="active">Migrace stránky</li>
        </ol>

        <label for="code">Vygenerovaný kód:</label>
        <textarea id="code" name="code" id="" cols="30" rows="20" class="form-control">
            $this->addSql(<<<TAG
                    INSERT INTO `manual_pages` (`id`, `title`, `content`, `position`, `slug`, `full_width`) VALUES
                    ({{ manual.getId() }}, '{{ manual.getTitle() }}', '{{ manual.getContent() }}', {{ manual.getPosition() }}, '{{ manual.getSlug() }}', 0);
TAG
            );

            {% for engine in manual.getEngines() %}
                $this->addSql("INSERT INTO `manuals_engines` (`manual_id`, `engine_id`) VALUES ({{ manual.getId() }}, {{ engine.getId() }});");
            {% endfor %}

            {% for image in manual.getImages() %}
                $this->addSql("INSERT INTO `manual_images` (`id`, `manual_id`, `title`, `image_name`, `position`) VALUES
                ({{ image.getId() }}, {{ manual.getId() }}, '{{ image.getTitle() }}', '{{ image.getImageName() }}', {{ image.getPosition() }});");
            {% endfor %}
    </textarea>

    </div>

{% endblock %}